<h2>Meeting</h2>

<form action="/meetings/{{_id}}/edit" method="POST">
    <label for="name">Name: 
        <input type="text" name="name" id="" value="{{name}}">
    </label>

    <label for="language">Language: 
        <input type="text" name="language" id="" value="{{language}}">
    </label>

    <label for="schedule">Schedule: 
        <input type="text" name="schedule" id="" value="{{schedule}}">
    </label>

    <button type="submit">Submit</button>
</form>