<h2>Create Event:</h2>

    <h3>Name:</h3>
    <p>{{name}}</p>
    
    <h3>Languages to practice:</h3>
    <p>{{}}</p>

    <h3>City:</h3>
    <p>{{}}</p>

    <h2>Schedule:</h2>
    <p>{{}}</p>

    <h3>Participants:</h3>
    <p>{{}}</p>