<section class="flexAleix" id="meetingCreateSection"> 
    <h3>Create a new Event: </h3>
    <a href="/meetings/create"><button type="submit" id="createEvent-button">+</button > </a>
</section>

<section class="flexAleix" id="meetingSearchSection">
    <h3>Find what you need:</h3>

  <div id="filterEvent-form">

    <form action="/meetings" method="POST">

        
            <label for="language"> Language:
            <select name="language"> 
                    <option value="English">English</option>
                    <option value="Spanish">Spanish</option>
                    <option value="Catalan">Catalan</option>
                    <option value="French">French</option>
                    <option value="Italian">Italian</option>
                    <option value="German">German</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Hindi">Hindi</option>
                    <option value="Russian">Russian</option>
                    <option value="Dutch">Dutch</option>
                    <option value="Swedish">Swedish</option>
                    <option value="Portuguese">Portuguese</option>
                    <option value="Korean">Korean</option>
                    <option value="Polish">Polish</option>
                    <option value="Greek">Greek</option>
                    <option value="Others">Others</option>
                </select>
            </label>
        

        <div id="searchEvent-button">
            <button type="submit" >Filter events</button>

        </div>
   </div>
    
    </form>
</section>

<section class="flexAleix" id="meetingListSection">
    <h2>Browse all events</h2>

    <div class="width80">
        {{#each meetings}}
            <div class="flexMeeting">
                <div>
                    <h3>{{name}}</h3>
                    
                    <div class="meetingIcon">
                        <img src="/images/pin-21501.png" alt="" class="pinIcon">
                        <p>{{city}}</p>
                    </div>

                    <p>{{language}}</p>

                </div>
                <div>
                    <a href="/meetings/{{_id}}">See more details</a>
                </div>
            </div>
        {{/each}}
    </div>
</section>