<h2>All Meetings List</h2>
<hr>
<a href="/meetings/create"> <button type="submit">Create Event</button> </a>

<ol>

{{#each meetings}}
    <p>Name of the Event : {{name}}</p>
    <a href="/meetings/{{_id}}">See more details</a>
{{/each}}

</ol>


<a href="/meetings/edit"> <button type="submit">Edit Event</button> </a>
