<div class="login-container">
<section class="form">
<h1>Log in</h1>

<div class="form-details">
<form action="/auth/login" method="POST">

  <div class="form-element">
   <label> Name:
      <input type="text" name="username">
   </label>
  </div>

  <div class="form-element">
   <label> Email:
      <input type="email" name="email">
   </label>
   </div>

  <div class="form-element">
   <label> Password:
      <input type="password" name="password">
   </label>
  </div>

  <div class="submit-btn">
   <button type="submit">Submit</button>

</form>
</div>

<div id="login-btn">
  <p>Not a member yet? </p>
   <form action="/auth/signup" method="GET">
      <div id="signup-btn">
         <button type="submit">Sign up</button>
      </div>
   </form>
</div>
</section>
</div>


{{#if errorMessage}}
   {{errorMessage}}
{{/if}}