<form action="/auth/signup" method="POST">
   <label> Username:
      <input type="text" name="username">
   </label>
   <label> Email:
      <input type="email" name="email">
   </label>
   <label> Password:
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form>

<form action="/" method="GET">
  <button type="submit">Back to Home page</button>
</form>

<form action="/auth/login" method="GET">
  <button type="submit">Log in</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}