<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul>
{{#each users}}
<li>User: {{ this.username}}</li>
{{/each}}
</ul>

HI GUYS, let's do this

<hr>
<form action="/auth/signup" method="GET">
  <button type="submit">Sign up</button>
</form>
<br>

<form action="/auth/login" method="GET">
  <button type="submit">Log in</button>
</form>
<br>

<form action="/auth/logout" method="GET">
  <button type="submit">Log out</button>
</form>
<br>