
 <div id="forFotter">
   
   <div class="index-container">
     <div id="background-img">
       <section class="index-block" id="block1">
          <h1> LEARN LANGUAGES BY HAVING FUN!</h1>
          <form action="/auth/signup" method="GET"   id="index-signUpButton">
             <button type="submit" id="index-signUpButton">Sign up</button>
          </form>
         <div id="index-login">
            <p>Already a member?</p>
            <form action="/auth/login" method="GET" id="index-logInButton">
            <button type="submit" >Log in</button>
            </form>
         </div>
       </section>
  

       <section id="block2">
           <h1> ABOUT US </h1>
           <p> We think that learning by having fun is the best way to do it. This is way we wanted to create a great network for people than think that way too. Help us to build this great comunity by joining us!</p>
       </section>
    </div>
  </div>

</div> 

<!--coment-->
