<h1>{{title}}</h1>
<p>This is the Index View</p>

<!--<ul>
{{#each users}}
<li>User: {{ this.username}}</li>
{{/each}}
</ul>-->

<hr>
<form action="/auth/signup" method="GET">
  <button type="submit">Sign up</button>
</form>
<br>

<form action="/auth/login" method="GET">
  <button type="submit">Log in</button>
</form>
<br>

