
<div class="index-container">

  <section class="index-block">

    <h2> MEET NEW PEOPLE, JOIN EVENTS OR CREATE NEW ONES AND, MOST IMPORTANTLY HAVE FUN! </h2>

     <form action="/auth/signup" method="GET">
       <button type="submit" id="index-singUpButton">Sign up</button>
     </form>

     <div id="login">

       <p>Already a member?</p>

          <form action="/auth/signup" method="GET">
       <button type="submit"  id="index-logInButton">Log in</button>

     </form>
     </div>

   </section>

   <hr>
   
   <section class="index-block">

    <h2> ABOUT US </h2>
      <p id="text-aboutUs">We are a group of students from Ironhack Barcelona. We think that learning by having fun is the best way to do it. This is way we wanted to create a great network of people than think that way too. Help us to build this great
        comunity by joining us!      
      </p>

   </section>


</div>
