<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.index.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.miki.css' />
    <link rel='stylesheet' href='/stylesheets/style.ana.css' />
    <link rel='stylesheet' href='/stylesheets/style.aleix.css' />
  </head>

  <body>

    <nav>
      <a href="/user/feed">
          <div class="logoTitle">
          <img src="/images/mouth.png" alt="" class="logo">
          <h1>parlem.</h1>
        </div>
      </a>
      

      <div class="linkDiv">
        <a href="/user/feed">Home</a>
        <a href="/user/profile">Profile</a>
        <a href="/auth/logout" class="logout">Log out</a>
      </div>
    </nav>

    {{{body}}}

    <footer>
      <p>Parlem inc.™</p>
    </footer>
  </body>
</html>
