<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/user/feed">Home</a>
      <a href="/user/profile">Profile</a>
      <a href="/auth/logout">Log out</a>
      <hr>
    </nav>
    {{{body}}}
  </body>
</html>
