<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
     <link rel='stylesheet' href='/stylesheets/style.index.css' />
    <link rel='stylesheet' href='/stylesheets/style.miki.css' />
    <link rel='stylesheet' href='/stylesheets/style.ana.css' />
    <link rel='stylesheet' href='/stylesheets/style.aleix.css' />
  </head>

  <body>

    <nav>
      <div class="logoTitle">
        <img src="/images/mouth.png" alt="" class="logo">
        <h1>Parlem.</h1>
      </div>

      <div class="linkDiv">
        <a href="/user/feed">Home</a>
        <a href="/user/profile">Profile</a>
        <a href="/auth/logout" class="logout">Log out</a>
      </div>
    </nav>

    {{{body}}}

  </body>
</html>
