<h3> Hello this is da Feed {{username}}</h3>

<form action="/user/profile" method="GET">
  <button type="submit">Profile</button>
</form>

<form action="/auth/logout" method="GET">
  <button type="submit">Log out</button>
</form>

