<h3> Hello {{fullName}}</h3>

<form action="/user/private" method="GET">
  <button type="submit">Profile</button>
</form>

<form action="/auth/logout" method="GET">
  <button type="submit">Log out</button>
</form>

