<h3> Hello {{username}}</h3>

<form action="/user/profile-user" method="GET">
  <button type="submit">Profile</button>
</form>

<form action="/auth/logout" method="GET">
  <button type="submit">Log out</button>
</form>

