<h2>Hello {{username}}</h2>

<!-- Saber com fer aparèixer edit your profile si els camps d'usuari estan buits
  {{#if something}}
{{/if}}
-->

<form action="/user/feed" method="POST">
  <button type="submit">Search Profiles</button>
</form>

<a href="/meetings">Events</a>



