
<div class="feed-container">

  <section class="accessProfile-block">

      <p>Acces your Profile</p>

          <a href="/user/profile">
          <img src="{{imgUrl}}" id="accessProfile-img">
          </a>

         

  </section>

  <section class="find-block">

    <p>Find profiles that perfectly fit your needs. Choose the leanguage you would like to learn, the leanguage you want to teach and the type of meeteing you prefer:</p>
    <a href="/user/results">
    <button type="submit">See Profiles</button>
    </a>
    
  </section>

  

  <section class="find-block">

    <p>Find amazing events creted by other users and join them just with one click. And if you feel ready create new events so other people can join and participate on it:</p>
    <a href="/meetings/">
    <button type="submit">See Events</button>
    </a>
    
  </section>

</div>




    