
<div class="feed-container">

  <section class="accessProfile-block">

      <p>Acces your Profile</p>

          <a href="/user/profile">
          <img src="{{imgUrl}}" id="accessProfile-img">
          </a>

         

  </section>

  <section class="find-block">

      <p class="feed-find-p">Find profiles that perfectly fit your needs. Filter them by language or type of meeting:</p>

          <a href="/user/results" class="feed-find-button">
          <button type="submit">See Profiles</button>
          </a>
    
  </section>

  

  <section class="find-block">

      <p class="feed-find-p">Find and join amazing events creted by other users or create a new one:</p>
      
         <a href="/meetings/" class="feed-find-button">
         <button type="submit">See Events</button>
         </a>
    
  </section>

</div>




    