<h2>Profile</h2>

    <h3>Name:</h3>
    <p>{{name}}</p>
    <img src="https://cdn-icons-png.flaticon.com/512/456/456212.png">{{imgUrl}}</p>
    
    <h2>Bio:</h2>
    <p>{{}}</p>

    <h3>City:</h3>
    <p>{{}}</p>

    <h3>Languages I speak:</h3>
    <p>{{}}</p>

    <h3>Languages I want to practice:</h3>
    <p>{{}}</p>

    <h2>Fav meme:</h2>
    <p>{{}}</p>

    <h2>Preferred schedule:</h2>
    <p>{{}}</p>

    <h2>Preferences:</h2>
    <p>{{}}</p>

<a href="/user/profile-edit"> Edit profile </a>