<h2>Edit profile</h2>

<form action="/user/edit" method="POST" enctype="multipart/form-data">
  <label for="username"> Username:
    <input type="text" name="username" value="{{username}}"/>
  </label>
  <br>

  <label for="description"> Bio:
    <input type="text" name="description" value="{{description}}"/> 
  </label>
  <br>
  
  <label for="city"> City:
    <input type="text" name="city" value="{{city}}"/> 
  </label>
  <br>

  <label for="languageSpeak"> Language I speak:
    <select name="languageSpeak"> 
            <option value="English">English</option>
            <option value="Spanish">Spanish</option>
            <option value="Catalan">Catalan</option>
            <option value="French">French</option>
            <option value="Italian">Italian</option>
            <option value="German">German</option>
            <option value="Chinese">Chinese</option>
            <option value="Japanese">Japanese</option>
            <option value="Hindi">Hindi</option>
            <option value="Russian">Russian</option>
            <option value="Dutch">Dutch</option>
            <option value="Swedish">Swedish</option>
            <option value="Portuguese">Portuguese</option>
            <option value="Korean">Korean</option>
            <option value="Polish">Polish</option>
            <option value="Greek">Greek</option>
            <option value="Others">Others</option>
        </select>
  </label>
  <br>

  <label for="languageLearn"> Language I want to learn:
        <select name="languageLearn"> 
            <option value="English">English</option>
            <option value="Spanish">Spanish</option>
            <option value="Catalan">Catalan</option>
            <option value="French">French</option>
            <option value="Italian">Italian</option>
            <option value="German">German</option>
            <option value="Chinese">Chinese</option>
            <option value="Japanese">Japanese</option>
            <option value="Hindi">Hindi</option>
            <option value="Russian">Russian</option>
            <option value="Dutch">Dutch</option>
            <option value="Swedish">Swedish</option>
            <option value="Portuguese">Portuguese</option>
            <option value="Korean">Korean</option>
            <option value="Polish">Polish</option>
            <option value="Greek">Greek</option>
            <option value="Others">Others</option>
        </select> 
  </label>
  <br>

 <label> Preferred schedule:
    <input type="text" name="schedule" value="{{schedule}}"/> 
  </label>
   <br>

 <label> I prefer to meet:
   <select name="meetingPreference"> 
     <option value="online">online</option>
     <option value="in-person">in-person</option>
     <option value="both">Both</option>
   </select>
  </label>

   <br>

  <label> Profile picture:
    <input type="file" name="imgUrl">
  </label>
  <br>

  <button type="submit"> Update profile </button>
</form>

