<h2>Profiles List</h2>


{{#each profiles}}
<ul>
    <li><p>{{username}}</p></li>
    <li><p>{{city}}</p></li>
    <li><p>{{description}}</p></li>
</ul>
    <a href="/user/{{_id}}">See more details</a>
{{/each}}
