.flexAleix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexMeeting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
}

/*.flexMeeting>div>*{
    padding: 5px;
}*/

.flexResults{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flexFormInputs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 700px;
    
}

.flexLabels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formProfiles input {
    width: 500px;
}

.profilesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flexProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 650px;
}

.flexProfile2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.flexProfile2>*{
    margin: 20px;
}

.profileImgResults {
   width:200px;
   height:200px;
   border-radius:100px;
   border: 0px;
   object-fit: cover;
}

.width80 {
    width: 80%;
}

.pinIcon {
    height: 25px;
}

.meetingIcon {
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-weight:700;
}
  
#meetingCreateSection{
    height: 400px;
    background-color: #ffe2fe;
}
  
#meetingSearchSection{
    height: 200px;
    background-color: #ffcb47;
}

#meetingListSection {
    padding: 10px;
    background-color: #6ccff6;
}

#resultsSearchSection {
    background-color: #ffcb47;
    height: 300px;
    padding-top: 80px;
}

#resultsListSection {
    background-color: #ffe2fe;
}

#resultsListSection>h2{
    margin: 30px;
}

/* Event details */

#eventDetailsTitle {
    background-color: #6ccff6;
    height: 700px;
}

#eventDetailsTitle>h2 {
    margin-top: 40px;
}

#eventDetailsDescription {
    background-color: #ffcb47;
    height: 200px;
}

#eventDetailsParticipants {
    background-color: #1f2421;
}

#eventDetailsParticipants>*{
    margin: 20px;
}

.host {
    background-color: #ffcb47;
    width: 100%;
}

.attendees {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px 0px;
    width: 80%;
}

.attendees>div>*{
    padding-left: 50px;
}

.attendeesNames {
    width: 100%;
}

/* Profile fonts size */

h1 {
    font-size: 2.5rem;
}

.profile-header strong {
    font-weight: 600;
}

#img-container>.meetingIcon>p {
    /*font-size: 1.6rem;*/
}

.profile-details>.bioProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400; 
    /*font-size: 1.3rem;*/
}

.languagesProfile>div>h2 {
    /*font-size: 1.3rem;*/
}

.languagesProfile h3 {
    font-weight: 400;
    /*font-size: 1.3rem;*/
}

.languagesProfile>div{
    margin-top: 15px;
}

.profile-details>*{
    margin-top: 10px;
}

.scheduleAndPreference>h2{
    margin-top: 40px;
    /*font-size: 1.3rem;*/
}

.scheduleAndPreference span {
    font-weight: 400;
}

#profileEvents>h1{
    padding-top: 40px;
}

.meetingDetails {
    padding: 10px;
    background-color: #6ccff6;
    border: 0px;
    border-radius: 10px;
    text-decoration: none;
}

.meetingDetails a {
    color: white;
    text-decoration: none;
}

.flexMeeting h3 {
    /*font-size: 1.6rem;*/
}

.flexMeeting>div>p {
    font-weight: 600;
    /*font-size: 1.3rem;*/
}

.flexMeeting>div>div>p {
    font-weight: 400;
    /*font-size: 1.6rem;*/
}