.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.index-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

#block1 {
    padding: 8%;
    background-image:
        linear-gradient(rgba(255, 203, 71, 0.6), rgba(6, 91, 124, 0.6)), 
        url('/images/people-2.jpg');
    background-position: center;
    background-size:cover;
    height: 300px;
}

#block1 > h2 {
    font-size: 2rem;
    color: white   
}

#block2 > h2 {
    padding:10px 0 10px 0;
}

#block2 > p {
    padding: 10px 0 20px 0;
    font-size: 1.4rem;
}

.index-block > h2 {
    font-size: 2rem;
    width: 60%;
    text-align: center;
}

 #index-login {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    color: white;
}

#text-aboutUs {
    text-align: center;
    width: 60%;
}

#index-singUpButton {
    margin: 30px;
}

#index-logInButton {
   padding-top: 30px;
}

#index-logInButton > button {
    background-color: #ffcb47;
}

.feed-container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.find-block {
    background-color: #ffcb47;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.find-block > p {
    text-align: center;
    width: 90%;
    padding: 20px
}

.accessProfile-block {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
   
#accessProfile-img {
   width:200px;
   height:200px;
   border-radius:100px;
   border: 3px solid #ffcb47;
   object-fit: cover;
}

.accessProfile-block > a {
    padding-bottom: 5px;
}

.accessProfile-block > p {
    padding-bottom: 10px;
}

#see-profiles{
    background-color: #ffcb47;
    width: 80%;
    border-radius: 20px;
    margin-bottom: 5px;
}

#see-events a button {
    background-color: #d3c1d2;
}

#see-events{
    background-color: #ffcb47;
    width: 80%;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}



 


