.flexAleix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexMeeting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
}

.flexResults{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flexFormInputs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 700px;
    padding: 10px;
}

.flexLabels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.flexLabels select {
    padding: 5px;
    font-size: 1.3rem;
    border-radius: 20px;
}

.flexLabels p {
    padding-bottom: 10px;
}

.formProfiles input {
    width: 500px;
}

.profilesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flexProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 650px;
}

.flexProfile2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.flexProfile2>*{
    margin: 20px;
}

.profileImgResults {
   width:200px;
   height:200px;
   border-radius:100px;
   border: 0px;
   object-fit: cover;
}

.width80 {
    width: 80%;
}

.pinIcon {
    height: 40px;
}

#profileEvents .meetingIcon>.pinIcon {
    height: 25px;
}

.meetingIcon {
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-weight:700;
}

#img-container>.meetingIcon>p  {
    font-size: 3rem;
}
  
#meetingCreateSection{
    background-color: #ffe2fe;
    padding: 20px;
}


#createEvent-button{
    font-size: 1.8em;
    padding: 10px 25px 10px 25px
}



#searchEvent-button > button{
    font-size: 1.2em;
    padding: 10px 25px 10px 25px;
}

#filterEvent-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}


#filterEvent-form select {
    padding: 10px;
    font-size: 1em;
    background-color: rgb(201, 187, 187);
    border-radius: 20px;
}
#filterEvent-form label {
    padding: 40px;
    font-size: 1.2em;
}

#filterEvent-form div {
    padding: 40px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
} 

  
#meetingSearchSection{
    display: flex;
    flex-direction: column;
    background-color: #ffcb47;
    padding: 30px;
}

#meetingSearchSection form{
    font-size: 2.3em;
    padding: 20px;
}

#meetingListSection {
    padding: 10px;
    background-color: #6ccff6;
}

#resultsSearchSection {
    background-color: #ffcb47;
    height: 300px;
    padding-top: 80px;
}

#resultsListSection {
    background-color: #ffe2fe;
}

#resultsListSection>h2{
    margin: 30px;
}

/* Event details */

#eventDetailsTitle {
    background-color: #6ccff6;
    height: 800px;
}

#eventDetailsTitle>h1 {
    font-size: 6rem;
    margin-top: 150px;
    text-align: center;
    width: 90%;
}

#eventDetailsDescription {
    background-color: #ffcb47;
    height: fit-content;
    padding: 10% 0%;
}

#eventDetailsDescription>h2 {
    text-align: center;
}

#eventDetailsDescription>p {
    width: 80%;
    text-align: center;
} 

#eventDetailsParticipants {
    background-color: #1f2421;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#eventDetailsParticipants>*{
    margin: 20px;
}

.joinBtn {
    padding-top: 20px;
}

.joinBtn button {
    font-size: 3rem;
}

.host {
    background-color: #ffcb47;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}

.attendeesNames {
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

/* Profile fonts size */

.profile-header strong {
    font-weight: 600;
}

.profile-details>.bioProfile {
    font-weight: 400; 
}

.languagesProfile h2 {
    font-weight: 600;
    font-size: 2.5rem;
}

.languagesProfile p {
    font-size: 2.5rem;
}

.languagesProfile>div{
    margin-top: 60px;
}

.profile-details>*{
    margin-top: 10px;
}

.scheduleAndPreference>h3{
    margin-top: 40px;
}

.scheduleAndPreference span {
    font-weight: 400;
}

#profileEvents>h1{
    padding-top: 40px;
}

.meetingDetails {
    padding: 10px;
    background-color: #6ccff6;
    border: 0px;
    border-radius: 10px;
    text-decoration: none;
}

.meetingDetails a {
    color: white;
    text-decoration: none;
}

.flexMeeting>div>p {
    font-weight: 600;
}

.flexMeeting>div>div>p {
    font-weight: 400;
}

.attendees {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px 0px;
    width: 80%;
}

.edit-btn {
    padding-top: 20px;
}

.edit-btn button { 
    font-size: 1.6rem;
}

.attendees p, h3 {
    font-size: 2rem;
}