.form{
    background-color: #fcfcfc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.form-details{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
}

.submit-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

#signup-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.element{
    margin: 10px
}
