
/* FORMS */
.login-container{
    padding-top: 3rem;
}

.form{
    background-color: #fcfcfc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.form-details{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.submit-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

#signup-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.element{
    margin: 10px
}


/* PROFILE */
.profile-details{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
    width: 90%;
}

.profile-detailsFlex {
    display: flex;
    background-color: #ffe2fe;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.languagesProfile {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50%;
}

.languagesProfile>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-img{
    width:300px;
    height:300px;
    border-radius: 50%;
    object-fit: cover;
    border: 0px;
    display: flex;
    justify-content: center;
}

#img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffcb47;
}

#img-container>.meetingIcon {
    padding-top: 25px;
}

.contactEmail {
    font-size: 1.2rem;
    padding-top: 10px;
}

#editBtnDiv {
    display: flex;
    justify-content: right;
    padding-top: 20px;
    padding-right: 20px;
}

#edit-profilebtn{
    padding: 10px;
    background-color: #6ccff6;
    border: 0px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.profile-events{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
}

.events-profileFlex{
    background-color: #6ccff6; 
    align-items: center;
    justify-content: center;
}

.profile-header{
    background-color: #ffcb47;
    justify-content: center;
    padding-bottom: 20px;
}

#profileEvents {
    background-color: #6ccff6;
}


.edit-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2421;
}