/*---INDEX VIEW---------------------------------*/

#forFotter{
    height: 100%;
}

.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;     
}

#block1 {
    padding: 100px;    
}

#block2 {
    font-size: 1.8em;
    padding: 50px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(20px);
}

#block2 p {
    height: 200px;
    font-size: 2em;
    padding-bottom: 50px;
    text-align: center;
}

#block2 > h1 {
    padding:20px 0 20px 0;
    text-align: center;
    height: 100px;
}

#index-login {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    color: white;
}

#block1 > h1 {
    text-align: center;
    width: 85%;
    font-size: 6.8em;
    color:  #ffffff; 
    padding: 30px;
}

#index-login > p {
    font-size: 4.5em;
    font-weight: bold;
}

.index-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#background-img {
    background-image:
        linear-gradient(rgba(202, 197, 183, 0.4), rgba(38, 9, 172, 0.6)), 
        url('/images/people-2.jpg');
    background-position: center;
    background-size:cover;
    width: 100%;
}

#index-signUpButton {
    padding: 100px;
}

#index-signUpButton button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 5em;
}

#index-logInButton {
   padding-top: 100px;
}

#index-logInButton button {
    background-color: #ffcb47;
    color:black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 5em;
}




/*-----FEED VIEW---------------------------------*/

.feed-container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6ccff6;  
    background-image: url('/images/parlem5.png');  
}

.accessProfile-block {
    background-color: rgba(255,255,255,0.3);
    width: 80%;
    border-radius: 20px;
    height: 50%;
    padding: 5% 0%;
    margin: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.accessProfile-block p {
    padding-bottom: 20px;
    font-size: 3.6em;
    font-weight: 600;
}

.accessProfile-block h2 {
    font-size: 4em;
}

.accessProfile-block a {
    padding-bottom: 20px;
    padding-top: 40px;
}


#accessProfile-img {
   width:300px;
   height:300px;
   border-radius:150px;
   border: 0px;
   object-fit: cover;
}


.find-block {
    background-color: #ffcb47;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.find-block > p {
    text-align: center;
    width: 90%;
    padding: 20px;
}

#see-profiles {
    background-color: #ffcb47;
    width: 80%;
    border-radius: 20px;
    margin-bottom: 30px;
}

.find-button {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 1.7em;
}

#see-profiles a button {
    background-color: #037171;
    font-weight: 600;
}

#see-events a button {
    background-color: #6ccff6;
    font-weight: 600;
}

#see-events{
    background-color: #ffcb47;
    width: 80%;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.feed-find-p{
    font-size: 3.7em;
}



 


